# Copyright (c) 2024 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_STM32
	bool

if SOC_FAMILY_STM32

rsource "*/Kconfig"

config HAS_STM32CUBE
	bool
	default y

endif # SOC_FAMILY_STM32
