# ST Microelectronics STM32U0 MCU line

# Copyright (c) 2021 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_STM32U0X

source "soc/arm/st_stm32/stm32u0/Kconfig.defconfig.stm32u0*"

config SOC_SERIES
	default "stm32u0"

config ROM_START_OFFSET
	default 0x400 if BOOTLOADER_MCUBOOT

endif # SOC_SERIES_STM32U0X
